@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  .results {
    text-align: center;
    padding-top: 30px;

    .results_title {
      font-size: 20px;
      text-align: center;
      color: #333333;
      border-bottom: 3px solid #f39c12;
      display: inline;
      font-family: Nunito, sans-serif;
    }
  }

  .container {
    width: 100%;
    min-height: auto;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .result {
      position: relative;
      width: 300px;
      height: 300px;
      margin: 10px;
      box-sizing: border-box;
      display: inline-block;

      .details {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: rgba(0, 0, 0, .8);
        transform: scaleY(0);
        transition: transform .5s;

        .content {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          padding: 15px;
          color: #ffffff;

          h2 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            color: #f39c12;
          }

          p {
            margin: 10px 0 0;
            padding: 0;
          }

          .result_icon {
            color: #161616;
            background: #f39c12;
            z-index: 1;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            cursor: pointer;
            font-family: Nunito, sans-serif;
            margin: 40px 50px 0;
          }
        }
      }

      .imgBox {
        position: relative;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: transform 2s;
        }
      }
    }

    .result:hover {
      .imgBox {
        img {
          transform: scale(1.2);
        }
      }

      .details {
        transform: scaleY(1);
      }
    }
  }
}

/*
.results {
  text-align: center;
  padding-top: 30px;

  .container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2;

    .results_title {
      font-size: 20px;
      text-align: center;
      color: #333333;
      border-bottom: 3px solid #f39c12;
      display: inline;
      font-family: Nunito, sans-serif;
    }

    .results_items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px;
      flex-wrap: wrap;
    }

    .result {
      width: 7%;
      height: 100px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      padding: 20px;
      margin-bottom: 50px;
      cursor: pointer;

      .result_filter {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
      }

      .result_name {
        color: #ffffff;
        z-index: 1;
        position: relative;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
      }

      .result_icon {
        color: #f39c12;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in-out;
        transform: translateY(100%);
      }
    }

    .result:hover .result_icon {
      transform: translateY(0%);
    }
  }

}
*/


