@media only screen and (max-width: 1100px) {

  .results_items {
    justify-content: center !important;

    .result {
      width: 130px !important;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
